.title {
  width: 292px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin-bottom: 100px;
}
.card {
  margin-right: 30px;
  margin-bottom: 30px;
}
.card_img {
  width: 535px;
  position: relative;
}
.desc {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  position: absolute;
  transform: translateY(-180%);
  margin-left: 50px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.container{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}
